@import url(https://fonts.google.com/specimen/Asul?query=asul);

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0; 
    
    
    
}


/* navigointi */

header {
    display: flex; 
    justify-content:center;
    align-items: center;
    padding: 30px 10%;
    background-color: rgb(29, 29, 28);
   
    
    

    
}


span {
    color:yellow;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 700;
    

}


/* taustakuva */


    




/* tekstityylit ja napit*/

li, a, button {
    font-family: "Asul", serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(233, 226, 187);
    text-decoration: none;
    justify-content: center;
    flex-direction: row;
    display: flex;
    padding-right: 5px;
    
}
.asul-regular {
  font-family: "Asul", serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.asul-bold {
  font-family: "Asul", serif;
  font-weight: 700;
  font-style: normal;
}

h2 {  
  font-family: "Asul", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  color: azure;
  

}
h3 {
    color: white;
    font-size: 30px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;

}

li {
    flex-direction: row;
}

p { 

    font-family: "Asul", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 16px;
    color:white;
    
   
    

}

.logo {
    cursor: pointer;
    padding-left: 20px;
    padding-right: 5px;
    ;
    
}

.navlinkit { list-style: none;
    
}

.navlinkit li {
    display: inline-block;
    padding: 6px 20px;
}
 
.navlinkit li a {
    transition: all 0.3s ease 0s;
}
.navlinkit li a:hover {
    color: #7e6000
}

button {
    padding: 9px 25px;
    background-color: rgpa(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    button:hover
     {background-color: rgpa(0,136,169,0.8);

    }
    

}

/* näyttö */

@media screen and (max-width: 991px) {
    /* tabletti iso */
    
    }
    
    @media screen and (max-width: 767px) {
    /* tabletti normaali */
    
    }
    
    @media screen and (max-width: 479px) {
    /* mobiili */
    
    }





/* tekstit */







/* container */

.container {
        display: flex;
        flex-wrap: wrap;
        justify-content:center;

        
    
    
    
  }


  .item {
    width: 300px;
    height: 300px;
    margin: 50px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 253);
    
  }
  
  .item img {
    max-width: 100%;
    max-height: 100%;
  }

body{
    background: url(../kuvat/music.png);
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    background-size: auto;
    margin: 0;
    padding: 0;
    min-height: fit-content;
    min-width: fit-content;


}


