@import url(https://fonts.google.com/specimen/Asul?query=asul);

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0; 
    
    
    
}


/* navigointi */

header {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    background-color: rgb(29, 29, 28);
   
    
    

    
}




/* taustakuva */


    




/* tekstityylit ja napit*/

li, a, button {
    font-family: "Asul", serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(233, 226, 187);
    text-decoration: none;
    justify-content: center;
    flex-direction: row;
    display: flex;
    
}
.asul-regular {
  font-family: "Asul", serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
}

.asul-bold {
  font-family: "Asul", serif;
  font-weight: 700;
  font-style: normal;
}

h2 {  
  font-family: "Asul", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  color: azure;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

}

p { 

    font-family: "Asul", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    color:white;
    text-align: center;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    

}

.logo {
    cursor: pointer;
    
}

.navlinkit { list-style: none;
    
}

.navlinkit li {
    display: inline-block;
    padding: 6px 20px;
}
 
.navlinkit li a {
    transition: all 0.3s ease 0s;
}
.navlinkit li a:hover {
    color: #7e6000
}

button {
    padding: 9px 25px;
    background-color: rgpa(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    button:hover
     {background-color: rgpa(0,136,169,0.8);

    }
    

}

/* näyttö */

@media screen and (max-width: 991px) {
    /* tabletti iso */
    
    }
    
    @media screen and (max-width: 767px) {
    /* tabletti normaali */
    
    }
    
    @media screen and (max-width: 479px) {
    /* mobiili */
    
    }





/* tekstit */







/* flex */
.container {
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding-bottom: 50px;
    
  }

  .text {
    text-align: center;
    
  }

body{
    background: url(kuvat/etusivu\ 2.png);
    background-repeat: no-repeat;
    background-color: rgb(29, 28, 28);
    background-size: auto;
    background-position: 50%;
    margin: 0;
    padding: 0;
    min-height: fit-content;
    min-width: fit-content;


}


.levymainos {

    width: 25%;
    height: 25%;
    display: flex;
    margin: auto;
    padding-top: 150px;
    min-width: fit-content;
    min-height: fit-content;
  

    

}